red1.py
[{"id":"6c3145f8.d409ec","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"c6d82ea1.66aa9","type":"rpi-gpio in","z":"6c3145f8.d409ec","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":true,"x":70,"y":260,"wires":[["1e2d25cd.0b5a6a"]]},{"id":"dee54376.345f2","type":"http in","z":"6c3145f8.d409ec","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":90,"y":80,"wires":[["c2255c21.04c99"]]},{"id":"1e2d25cd.0b5a6a","type":"function","z":"6c3145f8.d409ec","name":"set GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":260,"wires":[["ce54dd15.a5bda"]]},{"id":"c2255c21.04c99","type":"function","z":"6c3145f8.d409ec","name":"get GPIO","func":"msg.payload = global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":100,"wires":[["838f713d.d92","ce54dd15.a5bda"]]},{"id":"838f713d.d92","type":"http response","z":"6c3145f8.d409ec","name":"","statusCode":"","headers":{},"x":450,"y":140,"wires":[]},{"id":"ce54dd15.a5bda","type":"debug","z":"6c3145f8.d409ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":260,"wires":[]}]
