red2.py
[{"id":"559e86.eeb8117c","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"8b174a57.2a3fd8","type":"http in","z":"559e86.eeb8117c","name":"set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":70,"y":140,"wires":[["a3047309.c8eba","b21a63d3.9d513"]]},{"id":"a3047309.c8eba","type":"function","z":"559e86.eeb8117c","name":"set to 1","func":"msg.payload = 1; \nreturn msg;","outputs":1,"noerr":0,"x":220,"y":260,"wires":[["6110fb5f.b46114"]]},{"id":"6110fb5f.b46114","type":"rpi-gpio out","z":"559e86.eeb8117c","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":520,"y":320,"wires":[]},{"id":"b21a63d3.9d513","type":"function","z":"559e86.eeb8117c","name":"return ststus","func":"msg.payload = \"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":80,"wires":[["97eead06.3b029","6c5b07c1.149f88"]]},{"id":"97eead06.3b029","type":"http response","z":"559e86.eeb8117c","name":"","statusCode":"","headers":{},"x":470,"y":40,"wires":[]},{"id":"6c5b07c1.149f88","type":"debug","z":"559e86.eeb8117c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":140,"wires":[]},{"id":"b0853df6.04f69","type":"http in","z":"559e86.eeb8117c","name":"clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":80,"y":380,"wires":[["c76c8a7c.1bd598","ab07294a.fba2c8"]]},{"id":"c76c8a7c.1bd598","type":"function","z":"559e86.eeb8117c","name":"clear to 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":380,"wires":[["6110fb5f.b46114"]]},{"id":"ab07294a.fba2c8","type":"function","z":"559e86.eeb8117c","name":"return status","func":"msg.payload = \"GPIO set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":480,"wires":[["97eead06.3b029","6c5b07c1.149f88"]]}]
